<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand d-flex align-items-center" href="/">
			<img src="{{ asset('img/logo.png') }}" alt="" class="me-1 vihbpq">
			{{ appName }}
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor04">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a href="#" class="nav-link">
						📣 Contact
					</a>
				</li>
			</ul>
            <div class="d-flex align-items-center" data-controller="theme">
                <button type="button"
                    class="btn btn-link nav-link px-2"
                    aria-label="Basculer le thème"
                    title="Basculer le thème"
                    data-action="theme#toggle"
                    data-theme-target="button">
                <i class="bi bi-moon-stars" data-theme-target="icon" aria-hidden="true"></i>
                </button>
            </div>
		</div>
	</div>
</nav>
